helio-sms/src/main/webapp/WEB-INF/wsdl/SMSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://sms.heliovo.eu/" name="SMSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sms.heliovo.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sms.heliovo.eu/" schemaLocation="SMSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEquivalents">
    <part name="parameters" element="tns:getEquivalents"/>
  </message>
  <message name="getEquivalentsResponse">
    <part name="parameters" element="tns:getEquivalentsResponse"/>
  </message>
  <message name="getRelated">
    <part name="parameters" element="tns:getRelated"/>
  </message>
  <message name="getRelatedResponse">
    <part name="parameters" element="tns:getRelatedResponse"/>
  </message>
    <message name="getHECListNames">
    <part name="parameters" element="tns:getHECListNames"/>
  </message>
  <message name="getHECListNamesResponse">
    <part name="parameters" element="tns:getHECListNamesResponse"/>
  </message>
  <message name="getKnownPhenomena">
    <part name="in" element="tns:getKnownPhenomena"/>
  </message>
  <message name="getKnownPhenomenaResponse">
    <part name="parameters" element="tns:getKnownPhenomenaResponse"/>
  </message>
  <message name="smsFault">
    <part name="fault" element="tns:smsFault"/>
  </message>
  
  <portType name="SMS">
    <operation name="getEquivalents">
      <input message="tns:getEquivalents"/>
      <output message="tns:getEquivalentsResponse"/>
      <fault name="smsFault" message="tns:smsFault" />
    </operation>
    <operation name="getRelated">
      <input message="tns:getRelated"/>
      <output message="tns:getRelatedResponse"/>
      <fault name="smsFault" message="tns:smsFault" />
    </operation>
    <operation name="getHECListNames">
      <input message="tns:getHECListNames"/>
      <output message="tns:getHECListNamesResponse"/>
      <fault name="smsFault" message="tns:smsFault" />
    </operation>
    <operation name="getKnownPhenomena">
      <input message="tns:getKnownPhenomena"/>
      <output message="tns:getKnownPhenomenaResponse"/>
      <fault name="smsFault" message="tns:smsFault" />
    </operation>
  </portType>
  <binding name="SMSPortBinding" type="tns:SMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEquivalents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="smsFault">
      	<soap:fault name="smsFault" use="literal" />
      </fault>
    </operation>
    <operation name="getRelated">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="smsFault">
      	<soap:fault name="smsFault" use="literal" />
      </fault>
    </operation>
    <operation name="getHECListNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="smsFault">
      	<soap:fault name="smsFault" use="literal" />
      </fault>
    </operation>
    <operation name="getKnownPhenomena">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="smsFault">
      	<soap:fault name="smsFault" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="SMSService">
    <port name="SMSPort" binding="tns:SMSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

