helio-contracts/src/main/resources/schema/helioquery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelioQueryServiceService" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
 <wsdl:types>
<xs:schema xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" elementFormDefault="unqualified" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1" version="1.0">
  <xs:import xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1" namespace="http://www.ivoa.net/xml/VOTable/v1.1" schemaLocation="votable1_1.xsd" />   

<xs:element name="Query" type="tns:Query"/>
<xs:element name="queryResponse" type="tns:queryResponse"/>

	<xs:complexType name="Query">
		<xs:sequence>
			<xs:element minOccurs="1" name="TIME" type="tns:HelioTimeInterval"/>
			<xs:element maxOccurs="1" minOccurs="0" name="INSTRUMENT" type="tns:instrument"/>
			<!--
<xs:element minOccurs="0" name="latitude" type="xs:double"/>
<xs:element minOccurs="0" name="longitude" type="xs:double"/>
<xs:element minOccurs="0" name="coordinateType" type="tns:coordinateType"/>
<xs:element minOccurs="0" name="maxRecords" type="xs:int"/>
<xs:element minOccurs="0" name="startIndex" type="xs:int"/>
-->
		</xs:sequence>
	</xs:complexType>

<xs:complexType name="queryResponse">
	<xs:sequence>
 		<xs:element ref="vot:VOTABLE" minOccurs="1" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="HelioTimeInterval">
      <xs:annotation>
         <xs:documentation>
           A timestamp that is compliant with ISO8601 but disallows
           the use of a timezone indicator and must be in the format of
           Datetime/Datetime.
         </xs:documentation> 
      </xs:annotation>
    <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d\/\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d"/>
      </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="listName">
	<xs:restriction base="xs:string">
		<xs:enumeration value="INSTRUMENTS"/>
		<xs:enumeration value="OBSERVATORY"/>
	</xs:restriction>
</xs:simpleType>

   <xs:simpleType name="coordinateType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="CARRINGTON"/>
		<xs:enumeration value="DECIMALDEGREES"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="instrument">
	<xs:restriction base="xs:string">
		<xs:enumeration value="GENERIC"/>
		<xs:enumeration value="YOHKOH"/>
		<xs:enumeration value="SOLWIND"/>
		<xs:enumeration value="SOLFLEX"/>
		<xs:enumeration value="YOHKOH"/>
		<xs:enumeration value="SOHOEIT"/>
		<xs:enumeration value="SOHOCDS"/>
		<xs:enumeration value="SOHOMDI"/>
	</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="queryResponse">
    <wsdl:part name="parameters" element="tns:queryResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="Query">
    <wsdl:part name="parameters" element="tns:Query">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="HelioQueryService">
    <wsdl:operation name="Query">
      <wsdl:input name="Query" message="tns:Query">
    </wsdl:input>
      <wsdl:output name="queryResponse" message="tns:queryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
   <wsdl:binding name="HelioQueryServiceServiceSoapBinding" type="tns:HelioQueryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Query">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Query">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="HelioQueryServiceService">
    <wsdl:port name="HelioQueryServicePort" binding="tns:HelioQueryServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/HelioQueryService/services/HelioService"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>