helio-queryservice/src/main/webapp/WEB-INF/wsdl/helio_full_query.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelioQueryServiceService" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
 <wsdl:types>
<xs:schema xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1" xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" elementFormDefault="unqualified" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1" version="1.0">
  <xs:import xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1" namespace="http://www.ivoa.net/xml/VOTable/v1.1" schemaLocation="votable1_1.xsd"/>   
  <xs:import xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" namespace="http://helio-vo.eu/xml/Instruments/v0.1" schemaLocation="Instruments.xsd"/>   

<xs:element name="Query" type="tns:Query"/>
<xs:element name="TimeQuery" type="tns:TimeQuery"/>
<xs:element name="queryResponse" type="tns:queryResponse"/>

	<xs:complexType name="Query">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string"/>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string"/>
			<xs:element minOccurs="0" name="WHERE" type="xs:string"/>
			<xs:element minOccurs="0" name="INSTRUMENT" type="ins:instrument"/>
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int"/>
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int"/>
			<xs:element minOccurs="0" name="JOIN" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TimeQuery">
		<xs:sequence>
			<xs:element minOccurs="0"  maxOccurs="unbounded" name="STARTTIME" type="xs:string"/>
			<xs:element minOccurs="0"  maxOccurs="unbounded" name="ENDTIME" type="xs:string"/>
			<xs:element minOccurs="1"  maxOccurs="unbounded" name="FROM" type="xs:string"/>
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int"/>
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

<xs:complexType name="queryResponse">
	<xs:sequence>
 		<xs:element ref="vot:VOTABLE" minOccurs="1" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="queryResponse">
    <wsdl:part name="parameters" element="tns:queryResponse">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="Query">
    <wsdl:part name="parameters" element="tns:Query">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="TimeQuery">
    <wsdl:part name="parameters" element="tns:TimeQuery">
    </wsdl:part>
  </wsdl:message>

  
  <wsdl:portType name="HelioQueryService">
  <wsdl:operation name="Query">
      <wsdl:input message="tns:Query">
    </wsdl:input>
      <wsdl:output  message="tns:queryResponse">
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="TimeQuery">
      <wsdl:input  message="tns:TimeQuery">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
  </wsdl:output>
  </wsdl:operation>
  </wsdl:portType>
  
   <wsdl:binding name="HelioQueryServiceServiceSoapBinding" type="tns:HelioQueryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Query">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeQuery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
  
  <wsdl:service name="HelioQueryServiceService">
    <wsdl:port name="HelioQueryServicePort" binding="tns:HelioQueryServiceServiceSoapBinding">
      <soap:address location="http://msslxw.mssl.ucl.ac.uk:8080/HelioICS/services/HelioService"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
