helio-queryservice/helio-queryservice-contract/src/main/resources/ws/wsdl/long_query_kmb_notused.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.7-hudson-48-. -->
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helio-vo.eu/xml/LongQueryService/v0.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="LongHelioQueryService" targetNamespace="http://helio-vo.eu/xml/LongQueryService/v0.1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" xmlns:tns="http://helio-vo.eu/xml/LongQueryService/v0.1"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
			jxb:version="1.0" elementFormDefault="unqualified"
			targetNamespace="http://helio-vo.eu/xml/LongQueryService/v0.1"
			version="1.0">

			<xs:import xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1"
				namespace="http://helio-vo.eu/xml/Instruments/v0.1" schemaLocation="Instruments.xsd" />


			<xs:element name="LongQuery" type="tns:LongQuery" />
			<xs:element name="LongTimeQuery" type="tns:LongTimeQuery" />
			<xs:element name="queryResponse" type="tns:queryResponse" />

			<xs:element name="GetStatus" type="tns:GetStatus" />
			<xs:element name="statusResponse" type="tns:statusResponse" />
			<xs:element name="GetResults" type="tns:GetResults" />
			<xs:element name="resultResponse" type="tns:resultResponse" />

			<xs:complexType name="LongQuery">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME"
						type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM"
						type="xs:string" />
					<xs:element minOccurs="0" name="WHERE" type="xs:string" />
					<xs:element minOccurs="0" name="INSTRUMENT" type="ins:instrument" />
					<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
					<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
					<xs:element minOccurs="0" name="SAVETO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="LongTimeQuery">
				<xsd:annotation>
					<xsd:appinfo>
						<jxb:class>
							<jxb:javadoc><![CDATA[Parameter body of a long time query]]></jxb:javadoc>
						</jxb:class>
					</xsd:appinfo>
				</xsd:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME"
						type="xs:string">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:javadoc><![CDATA[start time of the value range.]]></jxb:javadoc>
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME"
						type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM"
						type="xs:string" />
					<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
					<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
					<xs:element minOccurs="0" name="SAVETO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="queryResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GetStatus">
				<xs:sequence>
					<xs:element minOccurs="1" name="ID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>


			<xs:simpleType name="statusvalues">
				<xs:restriction base="xs:string">
					<xs:enumeration value="COMPLETED" />
					<xs:enumeration value="ERROR" />
					<xs:enumeration value="PENDING" />
				</xs:restriction>
			</xs:simpleType>


			<xs:complexType name="statusResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="status"
						type="tns:statusvalues" />
					<xs:element minOccurs="1" maxOccurs="1" name="description"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>



			<xs:complexType name="GetResults">
				<xs:sequence>
					<xs:element minOccurs="1" name="ID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="resultResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="ResultInfo"
						type="tns:ResultInfo" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ResultInfo">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="resultURI"
						type="xs:anyURI" />
					<xs:element minOccurs="0" maxOccurs="1" name="fileInfo"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1" name="status"
						type="tns:statusvalues" />
					<xs:element minOccurs="0" maxOccurs="1" name="statusdescription"
						type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="queryResponse">
		<wsdl:part name="parameters" element="tns:queryResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="LongQuery">
		<wsdl:part name="parameters" element="tns:LongQuery">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="LongTimeQuery">
		<wsdl:part name="parameters" element="tns:LongTimeQuery">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="GetStatus">
		<wsdl:part name="parameters" element="tns:GetStatus">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="statusResponse">
		<wsdl:part name="parameters" element="tns:statusResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="GetResults">
		<wsdl:part name="parameters" element="tns:GetResults">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="resultResponse">
		<wsdl:part name="parameters" element="tns:resultResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="LongHelioQueryService">
		<wsdl:documentation><![CDATA[wsdldocumentation 1]]></wsdl:documentation>
		<wsdl:operation name="LongQuery">
			<wsdl:input message="tns:LongQuery">
			</wsdl:input>
			<wsdl:output message="tns:resultResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LongTimeQuery">
			<wsdl:documentation><![CDATA[
Submit a query to the service end point.
@param starttime the start date and time of the query range. Expected format is ISO8601 (YYYY-MM-dd['T'HH:mm:ss[SSS]]). Must not be null or empty list.
@param endtime the end date and time of the query range. Expected format is ISO8601 (YYYY-MM-dd['T'HH:mm:ss[SSS]]). Must not be null or empty list. Size of startdate must match size of end date.
@param from the list from which to select the data. The available lists can be queried from ...
@param maxrecords maximum number of records to return. How to get all????
@param startindex first index from which to return the data (this feature can be used for recieving many tables in small chunks).
@param saveto name of the subfolder where to store the result to. Must be a String of [a-zA-Z]. 
@return current status. 
			]]>
			</wsdl:documentation>
			<wsdl:input message="tns:LongTimeQuery" />
			<wsdl:output message="tns:resultResponse" />
		</wsdl:operation>

		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns:GetStatus">
			</wsdl:input>
			<wsdl:output message="tns:resultResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetResults">
			<wsdl:input message="tns:GetResults">
			</wsdl:input>
			<wsdl:output message="tns:resultResponse">
			</wsdl:output>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="LongHelioQueryServiceSoapBinding"
		type="tns:LongHelioQueryService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="LongQuery">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="LongTimeQuery">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetStatus">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetResults">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="LongHelioQueryService">
		<wsdl:documentation><![CDATA[Service to execute and manage an asynchronous query. See {@link LongHelioQueryService} for further information</b>]]>
		</wsdl:documentation>
		<wsdl:port name="LongHelioQueryServicePort" binding="tns:LongHelioQueryServiceSoapBinding">
			<wsdl:documentation><![CDATA[Get the port to get access to the {@link LongHelioQueryService}.]]>
			</wsdl:documentation>
			<soap:address
				location="http://msslxw.mssl.ucl.ac.uk:8080/HelioILS/HelioService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>