helio-queryservice/helio-queryservice-contract/src/main/resources/wsdl/helio_full_query_1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelioQueryServiceService" targetNamespace="http://helio-vo.eu/xml/QueryService/v1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helio-vo.eu/xml/QueryService/v1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://helio-vo.eu/xml/QueryService/v1.1" version="1.0" xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helio-vo.eu/xml/QueryService/v1.1">
			<xs:import namespace="http://www.ivoa.net/xml/VOTable/v1.1" schemaLocation="votable1_1.xsd" xmlns:vot="http://www.ivoa.net/xml/VOTable/v1.1"/>
			<xs:element name="Query" type="tns:Query"/>
			<xs:element name="TimeQuery" type="tns:TimeQuery"/>
			<xs:element name="CoordinateQuery" type="tns:CoordinateQuery"/>
			<xs:element name="SQLSelect" type="tns:SQLSelect"/>
			<xs:element name="getTableNames">
				<xs:complexType/>
			</xs:element>
			<xs:element name="getTableFields" type="tns:getTableFields"/>
			<xs:element name="queryResponse" type="tns:queryResponse"/>
			<xs:complexType name="Query">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string"/>
					<xs:element minOccurs="0" name="SELECT" type="xs:string"/>
					<xs:element minOccurs="0" name="WHERE" type="xs:string"/>
					<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int"/>
					<xs:element minOccurs="0" name="STARTINDEX" type="xs:int"/>
					<xs:element minOccurs="0" name="JOIN" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TimeQuery">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string"/>
					<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int"/>
					<xs:element minOccurs="0" name="STARTINDEX" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CoordinateQuery">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string"/>
					<xs:element minOccurs="0" name="WHERE" type="xs:string"/>
					<xs:element minOccurs="0" name="POS" type="xs:string"/>
					<xs:element minOccurs="0" name="SIZE" type="xs:string"/>
					<xs:element minOccurs="0" name="REGION" type="xs:string"/>
					<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int"/>
					<xs:element minOccurs="0" name="STARTINDEX" type="xs:int"/>
					<xs:element minOccurs="0" name="JOIN" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SQLSelect">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="SELECT" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string"/>
					<xs:element minOccurs="0" name="WHERE" type="xs:string"/>
					<xs:element minOccurs="0" name="ORDER_BY" type="xs:string"/>
					<xs:element minOccurs="0" name="LIMIT" type="xs:int"/>
					<xs:element minOccurs="0" name="OFFSET" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getTableFields">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="table_name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="queryResponse">
				<xs:sequence>
					<xs:element ref="vot:VOTABLE" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="queryResponse">
		<wsdl:part name="parameters" element="tns:queryResponse"/>
	</wsdl:message>
	<wsdl:message name="Query">
		<wsdl:part name="parameters" element="tns:Query"/>
	</wsdl:message>
	<wsdl:message name="TimeQuery">
		<wsdl:part name="parameters" element="tns:TimeQuery"/>
	</wsdl:message>
	<wsdl:message name="CoordinateQuery">
		<wsdl:part name="coordinatequery" element="tns:CoordinateQuery"/>
	</wsdl:message>
	<wsdl:message name="SQLSelect">
		<wsdl:part name="sql_select" element="tns:SQLSelect"/>
	</wsdl:message>
	<wsdl:message name="getTableNames">
		<wsdl:part name="get_table_names" element="tns:getTableNames"/>
	</wsdl:message>
	<wsdl:message name="getTableFields">
		<wsdl:part name="get_table_fields" element="tns:getTableFields"/>
	</wsdl:message>
	<wsdl:portType name="HelioQueryService">
		<wsdl:operation name="Query">
			<wsdl:input message="tns:Query"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TimeQuery">
			<wsdl:input message="tns:TimeQuery"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CoordinateQuery">
			<wsdl:input message="tns:CoordinateQuery"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SQLSelect">
			<wsdl:input message="tns:SQLSelect"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getTableNames">
			<wsdl:input message="tns:getTableNames"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getTableFields">
			<wsdl:input message="tns:getTableFields"/>
			<wsdl:output message="tns:queryResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelioQueryServiceServiceSoapBinding" type="tns:HelioQueryService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Query">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TimeQuery">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CoordinateQuery">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SQLSelect">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTableNames">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTableFields">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelioQueryServiceService">
		<wsdl:port name="HelioQueryServicePort" binding="tns:HelioQueryServiceServiceSoapBinding">
			<soap:address location="http://msslxw.mssl.ucl.ac.uk:8080/HelioICS/services/HelioService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
