helio-queryservice/helio-queryservice-contract/src/main/resources/wsdl/long_runningquery.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helio-vo.eu/xml/LongQueryService/v0.9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LongHelioQueryService" targetNamespace="http://helio-vo.eu/xml/LongQueryService/v0.9">
 <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" xmlns:tns="http://helio-vo.eu/xml/LongQueryService/v0.9" elementFormDefault="unqualified" targetNamespace="http://helio-vo.eu/xml/LongQueryService/v0.9" version="1.0">
  
  <xs:import xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" namespace="http://helio-vo.eu/xml/Instruments/v0.1" schemaLocation="Instruments.xsd" />   
 
   
<xs:element name="LongQuery" type="tns:LongQuery" />
<xs:element name="LongTimeQuery" type="tns:LongTimeQuery" />
<xs:element name="GetStatus" type="tns:GetStatus" />
<xs:element name="GetResult" type="tns:GetResult" />

<xs:element name="resultResponse" type="tns:resultResponse" />
<xs:element name="statusResponse" type="tns:statusResponse" />
<xs:element name="queryResponse" type="tns:queryResponse" />

	<xs:complexType name="LongQuery">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string" />
			<xs:element minOccurs="0" name="WHERE" type="xs:string" />
			
			<xs:element minOccurs="0" name="INSTRUMENT" type="ins:instrument" />
	
			
			<!--
			 	Maximum amount of records to be returned in the query.
			 -->
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
			
			<!--
				Starting row/index for the query.  
				i.e. 100 will return records starting at 100 till end (or max records)
				i.e. 100 with maxRecords 500.  Will return recods starting at row/index 100 till the 600th record.
			-->
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LongTimeQuery">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="STARTTIME" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ENDTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string" />
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	

<xs:complexType name="queryResponse">
	<xs:sequence>
 		<xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
 		<!-- We might want to add a Status here
 		<xs:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status"/>
 		 -->
	</xs:sequence>
</xs:complexType>


	<xs:complexType name="GetStatus">
		<xs:sequence>
			<xs:element minOccurs="1" name="ID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>	


<xs:simpleType name="StatusValue">
	<xs:restriction base="xs:string">
		<xs:enumeration value="COMPLETED" />
		<xs:enumeration value="ERROR" />
		<xs:enumeration value="PENDING" />
		<xs:enumeration value="TIMEOUT" />		
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="statusResponse">
	<xs:sequence>
	 		<xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:Status" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="Status">
	<xs:sequence>
 		<xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
 		<xs:element minOccurs="1" maxOccurs="1" name="status" type="tns:StatusValue" />
 		<xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" /> 
	</xs:sequence>
</xs:complexType>


	<xs:complexType name="GetResult">
		<xs:sequence>
			<xs:element minOccurs="1" name="ID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>	

<xs:complexType name="resultResponse">
	<xs:sequence>
 		<xs:element minOccurs="1" maxOccurs="1" name="ResultInfo" type="tns:ResultInfo" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="ResultInfo">
	<xs:sequence>
 		<xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
 		<xs:element minOccurs="0" maxOccurs="1" name="resultURI" type="xs:anyURI" />
 		<xs:element minOccurs="0" maxOccurs="1" name="fileInfo" type="xs:string" /> 
 		<xs:element minOccurs="0" maxOccurs="1" name="status" type="tns:StatusValue" />
 		<xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" /> 	
	</xs:sequence>
</xs:complexType>

</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="queryResponse">
    <wsdl:part name="parameters" element="tns:queryResponse">
    </wsdl:part>
  </wsdl:message>
  
   

   <wsdl:message name="LongQuery">
    <wsdl:part name="parameters" element="tns:LongQuery">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="LongTimeQuery">
    <wsdl:part name="parameters" element="tns:LongTimeQuery">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetStatus">
    <wsdl:part name="parameters" element="tns:GetStatus">
    </wsdl:part>
  </wsdl:message>

  
<wsdl:message name="statusResponse">
    <wsdl:part name="parameters" element="tns:statusResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetResult">
    <wsdl:part name="parameters" element="tns:GetResult">
    </wsdl:part>
  </wsdl:message>
  

  <wsdl:message name="resultResponse">
    <wsdl:part name="parameters" element="tns:resultResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="LongHelioQueryService">
  <wsdl:operation name="LongQuery">
      <wsdl:input message="tns:LongQuery">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="LongTimeQuery">
      <wsdl:input message="tns:LongTimeQuery">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
  </wsdl:output>
  </wsdl:operation>
  
  <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatus">
    </wsdl:input>
      <wsdl:output message="tns:statusResponse">
  </wsdl:output>
  </wsdl:operation>
  
  <wsdl:operation name="GetResult">
      <wsdl:input message="tns:GetResult">
    </wsdl:input>
      <wsdl:output message="tns:resultResponse">
  </wsdl:output>
  </wsdl:operation>
  
  </wsdl:portType>
  
   <wsdl:binding name="LongHelioQueryServiceSoapBinding" type="tns:LongHelioQueryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

      <wsdl:operation name="LongQuery">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="LongTimeQuery">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetResult">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
   </wsdl:binding>
  
  <wsdl:service name="LongHelioQueryService">
    <wsdl:port name="LongHelioQueryServicePort" binding="tns:LongHelioQueryServiceSoapBinding">
      <soap:address location="http://msslxw.mssl.ucl.ac.uk:8080/helio-ics-r3/HelioLongQueryService" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>