helio-example/helio-example-client/src/main/resources/wsdl/ExampleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExampleServiceService" targetNamespace="http://server.example.heliovo.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.example.heliovo.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.example.heliovo.eu/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.example.heliovo.eu/">
  <xs:element name="testKO" type="tns:testKO"/>
  <xs:element name="testKOResponse" type="tns:testKOResponse"/>
  <xs:element name="testOK" type="tns:testOK"/>
  <xs:element name="testOKResponse" type="tns:testOKResponse"/>
  <xs:complexType name="testKO">
    <xs:sequence>
      <xs:element minOccurs="0" name="testParameter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testKOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="testResult" type="tns:testResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="testComment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testOK">
    <xs:sequence>
      <xs:element minOccurs="0" name="testParameter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testOKResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="testResult" type="tns:testResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestException" type="tns:TestException"/>
  <xs:complexType name="TestException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="testOK">
    <wsdl:part name="parameters" element="tns:testOK">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testKOResponse">
    <wsdl:part name="parameters" element="tns:testKOResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testKO">
    <wsdl:part name="parameters" element="tns:testKO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testOKResponse">
    <wsdl:part name="parameters" element="tns:testOKResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestException">
    <wsdl:part name="TestException" element="tns:TestException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExampleService">
    <wsdl:operation name="testKO">
      <wsdl:input name="testKO" message="tns:testKO">
    </wsdl:input>
      <wsdl:output name="testKOResponse" message="tns:testKOResponse">
    </wsdl:output>
      <wsdl:fault name="TestException" message="tns:TestException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="testOK">
      <wsdl:input name="testOK" message="tns:testOK">
    </wsdl:input>
      <wsdl:output name="testOKResponse" message="tns:testOKResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleServiceServiceSoapBinding" type="tns:ExampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="testKO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testKO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testKOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TestException">
        <soap:fault name="TestException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="testOK">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testOK">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testOKResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExampleServiceService">
    <wsdl:port name="ExampleServicePort" binding="tns:ExampleServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ExampleServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
