helio-dpas/src/main/webapp/WEB-INF/wsdl/helio_service_traverna.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HelioQueryServiceService" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1">
 <wsdl:types>
<xs:schema xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://helio-vo.eu/xml/QueryService/v0.1" elementFormDefault="unqualified" targetNamespace="http://helio-vo.eu/xml/QueryService/v0.1" version="1.0">
  <xs:import xmlns:ins="http://helio-vo.eu/xml/Instruments/v0.1" namespace="http://helio-vo.eu/xml/Instruments/v0.1" schemaLocation="http://www.helio-vo.eu/services/xml/instruments.xsd" />   

<xs:element name="Query" type="tns:Query" />
<xs:element name="TimeQuery" type="tns:TimeQuery" />
<xs:element name="queryResponse" type="tns:queryResponse" />

	<xs:complexType name="Query">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="STARTTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="ENDTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string" />
			<xs:element minOccurs="0" name="WHERE" type="xs:string" />
			<xs:element minOccurs="0" name="INSTRUMENT" type="ins:instrument" />
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TimeQuery">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="STARTTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="ENDTIME" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="FROM" type="xs:string" />
			<xs:element minOccurs="0" name="MAXRECORDS" type="xs:int" />
			<xs:element minOccurs="0" name="STARTINDEX" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="queryResponse">
	<xs:sequence>
 		<xs:any minOccurs="0"></xs:any>
	</xs:sequence>
	
</xs:complexType>


</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="queryResponse">
    <wsdl:part name="response" element="tns:queryResponse">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="Query">
    <wsdl:part name="query" element="tns:Query">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="TimeQuery">
    <wsdl:part name="timequery" element="tns:TimeQuery">
    </wsdl:part>
  </wsdl:message>

  
  <wsdl:portType name="HelioQueryService">
  <wsdl:operation name="Query">
      <wsdl:input message="tns:Query">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="TimeQuery">
      <wsdl:input message="tns:TimeQuery">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse">
  </wsdl:output>
  </wsdl:operation>
  </wsdl:portType>
  
   <wsdl:binding name="HelioQueryServiceServiceSoapBinding" type="tns:HelioQueryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Query">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeQuery">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
  
  <wsdl:service name="HelioQueryServiceServiceTwo">
    <wsdl:port name="HelioQueryServicePortTwo" binding="tns:HelioQueryServiceServiceSoapBinding">
      <soap:address location="http://msslxw.mssl.ucl.ac.uk:8080/helio-ics/HelioService" />
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>